 <footer class="footer bg-info">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 mt-4 col-lg-3 text-center text-sm-start">
                <div class="information">
                    <h6 class="footer-heading text-uppercase text-white fw-bold"><img src="https://jibuco.com/wp-content/uploads/2022/09/Jibu-Website-Artwork-2_Jibu-Logo-150x48-white.png" alt="Jibu Logo" height="96"></h6>
                    <p class="text-white text-decoration-none">Local Owners Driving Lasting Solutions</p>
                    <p class="text-white text-decoration-none">Jibu capitalizes and equips emerging market entrepreneurs to create affordable access to drinking water and other necessities</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mt-4 col-lg-3 text-center text-sm-start">
                <div class="resources">
                    <h6 class="footer-heading text-uppercase text-white fw-bold">Explore</h6>
                    <ul class="list-unstyled footer-link mt-4">
                        <li class="mb-1"><a href="/about" class="text-white text-decoration-none fw-semibold">About</a></li>
                        <li class="mb-1"><a href="#" class="text-white text-decoration-none fw-semibold">Jibu Franchise Opportunity</a></li>
                        <li class="mb-1"><a href="#" class="text-white text-decoration-none fw-semibold">Careers</a></li>
                        <li class=""><a href="#" class="text-white text-decoration-none fw-semibold">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mt-4 col-lg-2 text-center text-sm-start">
              <div class="social">
                  <h6 class="footer-heading text-uppercase text-white fw-bold">Social</h6>
                  <ul class="list-inline my-4">
                    <li class="list-inline-item"><a href="#" class="text-white btn-sm btn btn-primary mb-2"><i class="bi bi-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-danger btn-sm btn btn-light mb-2"><i class="bi bi-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-white btn-sm btn btn-primary mb-2"><i class="bi bi-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-white btn-sm btn btn-success mb-2"><i class="bi bi-whatsapp"></i></a></li>
                </ul>
              </div>
          </div>
            <div class="col-sm-6 col-md-6 mt-4 col-lg-4 text-center text-sm-start">
              <div class="contact">
                  <h6 class="footer-heading text-uppercase text-white fw-bold">Jibu Countries</h6>
                  <ul class="list-unstyled footer-link mt-4">
                    <li><a href="#" class="text-white text-decoration-none fw-semibold"><i class="bi bi-skype"></i>Burundi</a></li>
                    <li><a href="#" class="text-white text-decoration-none fw-semibold"><i class="bi bi-skype"></i>Ghana</a></li>
                    <li><a href="#" class="text-white text-decoration-none fw-semibold"><i class="bi bi-skype"></i>Kenya</a></li>
                    <li><a href="#" class="text-white text-decoration-none fw-semibold"><i class="bi bi-skype"></i>Tanzania</a></li>
                    <li><a href="#" class="text-white text-decoration-none fw-semibold"><i class="bi bi-skype"></i>Zambia</a></li>
                    <li><a href="#" class="text-white text-decoration-none fw-semibold"><i class="bi bi-skype"></i>DRC</a></li>
                    <li><a href="#" class="text-white text-decoration-none fw-semibold"><i class="bi bi-skype"></i>Rwanda</a></li>
                    <li><a href="#" class="text-white text-decoration-none fw-semibold"><i class="bi bi-skype"></i>Uganda</a></li>

                  </ul>
              </div>
            </div>
        </div>
    </div>
    <div class="text-center bg-dark text-white mt-4 p-1">
        <p class="mb-0 fw-bold">2025 © Jibu,Inc, All Rights Reserved</p>
    </div>
  </footer>