<html>
    <head>
        <style>
            .btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited {
                background-color: #FC2EFF !important;
            }
        </style>
    </head>
    <body>
        <h1 class="d-flex justify-content-center">About Me</h1>
<div class="d-flex justify-content-center">
    <div class="col-sm-10">
                <div class="card mb-10">
                <div class="card-body">
                    <div class="row">
                    <div class="col-sm">
                        
                       <div class="container-fluid"> 
                            <img src="https://res.cloudinary.com/lunchapp/image/upload/v1654370106/make_a_pilot_scholarship_vid_R2.5.2_Moment_hbewgr.jpg" class="img-fluid" style="min-width: 360px;"/>
                        </div> 
                    </div>
                
            
                    <div class="col-sm">
                        <h4 class="card-title">I'm Richard Pham</h4>
                        <p class="card-text">
                            I am a high school student and aspiring software developer.
                            I like to tinker with computer hardware and dabble in various web technologies such as 
                            HTML, CSS, JavaScript, Node.js, Cloudinary, and various different API's.
                        </p>

                        <p class="card-text">
                            Outside of programming, I like to fly airplanes and play golf. 
                        </p>

                        <p>
                            <a href="https://www.linkedin.com/in/richard-pham-407690206/" class="btn btn-info">LinkedIn</a>
                            <a href="https://www.instagram.com/the_crazy_airman/" class="btn btn-success">Instagram</a>
                            <a href="https://github.com/rpham2234" class="btn btn-dark">GitHub</a>
                            <a href="mailto:richardvanpham@outlook.com" class="btn btn-secondary">E-mail</a>
                        </p>
                    </div>
                </div>
                </div>
            </div>
            </div> 
</div>
</div>

    </body>
</html>