<html>
    <head>

    </head>
    <body>  
        <p></p>     
        <div class="d-flex justify-content-center">
               
            <div class="col-sm-10">
                <div class="card mb-10">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-sm">
                                <h1 class="card-title">Jibu Means "Solution"</h1>
                                <h3 class="card-subtitle text-muted">What we do</h3>
                                <div class="card-text">
                                    <p>
                                        Jibu capitalizes, equips, and trains emerging market entrepreneurs to launch and grow essential service franchises, with drinking water as our anchor product.
                                    </p>
                                    <p>
                                        Franchises purify existing water sources in high-density urban and peri-urban communities and distribute to the neighborhood within walking distance of their storefronts. Franchisees also sell additional Jibu products and services.
                                    </p>
                                </div>

                                <button type="button" class="btn btn-info btn-lg">Learn more about the Jibu Franchise Model</button>
                                <p></p>
                                
                            </div>

                            <div class="col-sm">
                                
                            <div class="container-fluid"> 
                                    <img src="https://res.cloudinary.com/dp6oxybgv/image/upload/v1656254871/76833319-3130-4f34-bea8-0e759161e8e5_xjszvp.jpg" class="img-fluid" style="min-width: 360px;"/>
                                </div> 
                            </div>
                        
                    
                            
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="card mb-10">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-sm">
                                <h2 class="card-title">Who we are</h2>
                                
                                <div class="card-text">
                                    <p>
                                        Jibu, Inc is a for-profit social enterprise that prioritizes impact in our communities. Our hybrid approach stimulates responsible economic growth and independence. Through local entrepreneurship we produce safe drinking water as well as supply other essential products like LPG (Liquified Petroleum Gas) and fortified porridge and sell them at affordable prices in the communities served. While drinking water is our immediate focus, our ultimate goal is to launch a network of independent franchise owners who, with high visibility retail storefronts and proven business acumen, are poised to revolutionize the African landscape while paving the way for developed world resources to become more effectively deployed in emerging markets.
                                    </p>
                                    <p>
                                        The Jibu ecosystem is made of Jibu, Inc (founding franchisor), Jibu Area Master Franchisors (AMFs), and Jibu Franchisees.
                                    </p>
                                </div>


                                
                            </div>

                            <div class="col-sm">
                                
                            <div class="container-fluid"> 
                                    <img src="https://jibuco.com/wp-content/uploads/2022/09/Jibu-Website-Artwork_Jibu-Mum-and-Son-min-768x612.jpg" class="img-fluid" style="min-width: 360px;"/>
                                </div> 
                            </div>
                        
                    
                            
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="card mb-10">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-sm">
                                <h2 class="card-title">The Jibu Story</h2>
                                
                                <div class="ratio ratio-16x9" style="max-width: 800px; margin: 0 auto;">
                                    <iframe width="840" height="473" src="https://www.youtube.com/embed/aXImu7_Th30" title="Transforming the lives of Franchisees in Rwanda: Jibu" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                </div>


                                
                            </div>

                            <div class="col-sm">
                                <h2 class="card-title">Our Production Process</h2>
                                <div class="ratio ratio-16x9" style="max-width: 800px; margin: 0 auto;">
                                    <iframe width="800" height="450" src="https://www.youtube.com/embed/VM1wh0NDGpY" title="Uburyo amazi atunganyirizwa muri JIBU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                </div>
                            </div>
                        
                    
                            
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="card mb-10">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-sm">
                                <h2 class="card-title">The Jibu Water Purifying Process</h2>
                                
                                <div class="card-text">
                                    <p>
                                        Jibu aims at consistently producing safe drinking water through its four-step filtration method. The purification methods we use are internationally accredited to produce safe and pure water  Jibu systems are customized to the water source and we use state of the art Ultrafiltration-based water treatment systems as well as blended RO-hybrid water treatment systems.
                                    </p>
                                    <p>
                                        We are proud partners of <a href="https://healingwaters.org/">Healing Waters</a> for our Water Treatment System technology.
                                    </p>
                                </div>


                                
                            </div>

                            <div class="col-sm">
                                
                            <div class="container-fluid"> 
                                    <img src="https://jibuco.com/wp-content/uploads/2022/09/Jibu-Website-Artwork-Production-Unit_Jibu-768x510.jpeg" class="img-fluid" style="min-width: 360px;"/>
                                </div> 
                            </div>
                        
                    
                            
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="card mb-10">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="container-fluid" style="max-width: 1000px; margin: 0 auto;"> 
                                    <img src="https://jibuco.com/wp-content/uploads/2022/09/Jibu-Website-Artwork-Water-Process-Table_Jibu-Water-Purifying-Process-1536x831.png" class="img-fluid" style="min-width: 360px;"/>
                            </div>
                    </div>
                </div>
                </div>
            </div>
            

            
        </div>
        <p></p>
    </body>
</html> 