<html>
    <head>
    </head>
    <body>
      <div>
        <!--Carousel-->
        <div id="introCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <!-- Indicators -->
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#introCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#introCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#introCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#introCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>

            <!-- Slides -->
            <div class="carousel-inner">
              <div class="carousel-item active" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg'); background-size: cover; background-position: center; height: 60vh;">
                <div class="d-flex h-100 justify-content-center align-items-center text-white bg-dark bg-opacity-50">
                  <div class="text-center">
                    <h1>Transforming Opportunity To Thrive</h1>
                    <button type="button" class="btn btn-info">Read About Jibu</button>
                  </div>
                </div>
              </div>

              <div class="carousel-item" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/77.jpg'); background-size: cover; background-position: center; height: 60vh;">
                <div class="d-flex h-100 justify-content-center align-items-center text-white bg-dark bg-opacity-25">
                  <div class="text-center">
                    <h2>A Better Life</h2>
                    <button type="button" class="btn btn-info">FAQ</button>
                  </div>
                </div>
              </div>

              <div class="carousel-item" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/78.jpg'); background-size: cover; background-position: center; height: 60vh;">
                <div class="d-flex h-100 justify-content-center align-items-center text-white" style="background: rgba(29, 236, 197, 0.6);">
                  <div class="text-center">
                    <h2>Essential Product Franchises</h2>
                    <button type="button" class="btn btn-info">Read More Jibu Stories</button>
                  </div>
                </div>
              </div>

              <div class="carousel-item" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/77.jpg'); background-size: cover; background-position: center; height: 60vh;">
                <div class="d-flex h-100 justify-content-center align-items-center text-white bg-dark bg-opacity-25">
                  <div class="text-center">
                    <h2>Local Owners Driving Lasting Solutions</h2>
                    <button type="button" class="btn btn-info">FAQ</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#introCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#introCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>


          <!-- Floating Stat Cards -->
          <div class="container position-relative">
            <div class="row justify-content-center floating-cards">
              <div class="col-md-3">
                <div class="card text-center shadow">
                  <div class="card-body">
                    <h5 class="card-title">Countries</h5>
                    <p class="card-text display-6">8</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card text-center shadow">
                  <div class="card-body">
                    <h5 class="card-title">Franchises</h5>
                    <p class="card-text display-6">160+</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card text-center shadow">
                  <div class="card-body">
                    <h5 class="card-title">Litres Distributed</h5>
                    <p class="card-text display-6">490M+</p>
                  </div>
                </div>
              </div>
            <div class="col-md-3">
                <div class="card text-center shadow">
                  <div class="card-body">
                    <h5 class="card-title">Retail Points</h5>
                    <p class="card-text display-6">10,000</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

      <center>
        <p></p>        
        <!--Country Cards-->  
        <div class="col-sm-6">

            <h1>Jibu is avaliable in these countries</h1>
            <div class="row justify-content-center">
                <div class="col-sm-3">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.countryflags.com/thumbs/burundi/flag-400.png"  alt="card image cap"/>
                        <h4 class="card-title">Burundi</h4>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.countryflags.com/thumbs/ghana/flag-400.png"  alt="card image cap"/>
                        <h4 class="card-title">Ghana</h4>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.countryflags.com/thumbs/kenya/flag-400.png"  alt="card image cap"/>
                        <h4 class="card-title">Kenya</h4>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.countryflags.com/thumbs/uganda/flag-400.png"  alt="card image cap"/>
                        <h4 class="card-title">Uganda</h4>
                    </div>
                </div>

                
            </div>
            <p></p>
            <div class="row justify-content-center ">

                <div class="col-sm-3">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.countryflags.com/thumbs/tanzania/flag-400.png" alt="card image cap"/>
                        <h4 class="card-title">Tanzania</h4>
                    </div>
                </div>
            
               <div class="col-sm-3">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.countryflags.com/thumbs/zambia/flag-400.png" alt="card image cap"/>
                        <h4 class="card-title">Zambia</h4>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.countryflags.com/thumbs/congo-democratic-republic-of-the/flag-400.png" alt="card image cap"/>
                        <h4 class="card-title">DRC</h4>
                    </div>
                </div> 

                <div class="col-sm-3">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn.countryflags.com/thumbs/rwanda/flag-400.png" alt="card image cap"/>
                        <h4 class="card-title">Rwanda</h4>
                    </div>
                </div> 
            </div>
            </center>

        </div>
        
    </body>
</html> 