<html>
    <head>

    </head>
    <body>
        <h1 class="d-flex justify-content-center" >Projects</h1>
        <div class="d-flex justify-content-center">
           
            <div class="col-sm-9">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-7">
                                <img src="https://res.cloudinary.com/lunchapp/image/upload/v1654365507/Screenshot_2022-06-04_105733_skc80e.png" class="img-fluid" style="min-width: 360px;"/>
                            </div>
                            <div class="col-md-5">
                                <h4 class="card-title">Flappy Shooter</h4>
                                <p class="card-text">
                                    This 2D browser-based game was made as a final project for the CS49 class. 

                                </p>
                                <p>
                                    <a href="https://github.com/rpham2234/Flappy-Shooter-TM" class="btn btn-dark">GitHub Repo</a>
                                    <a href="https://flappy-shooter.stevedumb.repl.co/" class="btn btn-primary">View Site</a>
                                </p>
                            </div>
                        </div>
                    </div>            
                </div>      

                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-7">
                                <img src="https://res.cloudinary.com/lunchapp/image/upload/v1685040646/Web_capture_25-5-2023_114323_bfiaps.onrender.com_urehhu.jpg" class="img-fluid" style="min-width: 360px;"/>
                            </div>
                            <div class="col-md-5">
                                <h4 class="card-title">Bfiaps</h4>
                                <p class="card-text">
                                    This site was made for an elementary school in Mukono, in Uganda

                                </p>
                                <p>
                                    <a href="https://github.com/rpham2234/bfiaps" class="btn btn-dark">GitHub Repo</a>
                                    <a href="https://bfiaps.onrender.com/" class="btn btn-primary">View Site</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>         
                
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-7">
                                <img src="https://res.cloudinary.com/lunchapp/image/upload/v1654366844/Screenshot_2022-06-04_112015_ft8v7h.png" class="img-fluid" style="min-width: 360px;"/>
                            </div>
                            <div class="col-md-5">
                                <h4 class="card-title">GIF Search</h4>
                                <p class="card-text">
                                    This was my first Node.js webapp, utilizing Tenor's API to display relevant GIF's

                                </p>
                                <p>
                                    <a href="https://github.com/rpham2234/tenor-search" class="btn btn-dark">GitHub Repo</a>
                                    <a href="https://gif-search.onrender.com/" class="btn btn-primary">View Site</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>  
                
                
                
            </div>

            
        </div>                   
    </body>
</html>